<div class="wrapper">
  <h1 class="page-title">Change password</h1>
  <h2 class="error-msg">{{errorMessage}}</h2>
  <div class="form-container">
    <mat-form-field class="form-item">
      <input matInput placeholder="Enter current password" [type]="hide_cur ? 'password' : 'text'" [(ngModel)]="password.cur" #master="ngModel" required>
      <mat-icon matSuffix (click)="hide_cur = !hide_cur">{{hide_cur ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="form-item">
      <input matInput placeholder="Enter new password" [type]="hide_new ? 'password' : 'text'" [(ngModel)]="password.new" #master="ngModel" required>
      <mat-icon matSuffix (click)="hide_new = !hide_new">{{hide_new ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="form-item">
      <input matInput placeholder="Confirm new password" [type]="hide_confirm ? 'password' : 'text'" [(ngModel)]="password.confirm" #master="ngModel" (blur)="validatePassword()">
      <mat-icon matSuffix (click)="hide_confirm=!hide_confirm">{{hide_confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <span *ngIf="hasPassowrdDoNotMatchError" class="inline-error-msg">{{passwordDoNotMatchMessage}}</span>

    <div>
      <button [disabled]="loading" class="btn button-change" mat-button (click)="goBack()">Cancel</button>
      <button [disabled]="loading" class="btn button-change" color="warn" mat-button (click)="updatePassword()">Update</button>
    </div>
  </div>
</div>
