.wrapper {
  width: 100%;
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  width: 40%;
  max-width: 500px;
}

.form-item {
  margin-top: 20px;
}

.button-change {
  font-size: 16pt;
  width: 30%;
  height: 48.85px;
}

.inline-error-msg {
  margin-top: 0;
  text-align: left;
  color: red;
}
