<div class="wrapper">
  <h2 class="error-msg">{{errorMessage}}</h2>
  <mat-progress-bar mode="indeterminate" *ngIf="!isLoaded"></mat-progress-bar>
  <mat-table [dataSource]="qnas">

    <ng-container matColumnDef="No">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let qna"> {{qna.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Question">
      <mat-header-cell *matHeaderCellDef> Question </mat-header-cell>
      <mat-cell *matCellDef="let qna"> {{qna.questions}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Answer">
      <mat-header-cell *matHeaderCellDef> Answer </mat-header-cell>
      <mat-cell *matCellDef="let qna"> {{qna.answer}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Metadata">
      <mat-header-cell *matHeaderCellDef> Metadata </mat-header-cell>
      <mat-cell *matCellDef="let qna"> {{qna.metadata}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
