<div class="wrapper">
  <h2 class="error-msg">{{errorMessage}}</h2>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="No.">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let qna"> {{qna.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Q">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let qna"> {{element.q}} </td>
    </ng-container>

    <ng-container matColumnDef="A">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let qna"> {{element.n}} </td>
    </ng-container>

    <ng-container matColumnDef="MetaData">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let qna"> {{element.metadata}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
