<div class="wrapper">
  <h2 class="error-msg">{{errorMessage}}</h2>

  <div class="toggle-container">
    <mat-button-toggle-group name="fileType" aria-label="File Type" value="aqc" #group="matButtonToggleGroup">
      <mat-button-toggle value="aqc" (click)="setAccept('text/csv')">CSV (AQC format)</mat-button-toggle>
      <mat-button-toggle value="qna" (click)="setAccept('text/csv')">CSV (QnA Maker format)</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="upload-button">
    <button mat-button color="warn" (click)="selectFiles(group.value)">
      <mat-icon class="upload-icon">file_upload</mat-icon>Upload
    </button>
  </div>
  <br/>
  <div class="upload-progress">
    <ul>
      <li *ngFor="let file of files" [@fadeInOut]="in">
        <mat-progress-bar [value]="file.progress"></mat-progress-bar>
        <span id="file-label">{{file.data.name}}
        </span>
          <a class="cancel-icon-wrapper" title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
            <mat-icon class="cancel-icon">cancel</mat-icon>
          </a>
      </li>
      <li *ngFor="let file of completedFiles" [@fadeInOut]="in">
        <mat-progress-bar [value]="file.progress"></mat-progress-bar>
        <span id="file-label">{{file.data.name}}</span>
        <span class="upload-error">{{file.errorMessage}}</span>
        <a class="cancel-icon-wrapper" title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
          <mat-icon class="cancel-icon">cancel</mat-icon>
        </a>
      </li>
    </ul>
  </div>
  <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}" style="display:none;"/>
</div>
